<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>  

    <p>Hi <b>{{username}}</b>, </p>

              <pre>Your payment for the booking of <b>{{event_obj.title}}</b> was succefully completed.Now enjoy the event.</pre>      
   

    <pre>Thank you,</pre>
         <pre> <b>{{email_from}}</b></pre>
    

 
</body>
</html>